defaults: &defaults
  repos_path: ./tmp/repositories
  authkeys_file: ./tmp/authorized_keys
  apps_directory: ./tmp/apps

development:
  <<: *defaults

test:
  <<: *defaults

production:
  repos_path: /home/git/repositories
  authkeys_file: /home/git/.ssh/authorized_keys
  apps_directory: /srv

